@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

/* NAV BAR STYLES */
.nav-container {
  background-color: black;
  padding: 0 50px;
  border-bottom: 3px solid #f5c645;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 100px;
  height: 100px;
}

.nav-img {
  display: flex;
  align-items: center;
  gap: 150px;
}

.nav-img i {
  font-size: 30px;
  color: #f5c645;
}

.join {
  display: flex;
  align-items: center;
  gap: 10px;
}

.join button {
  border: 1px solid #f5c645;
  background-color: black;
  color: #f5c645;
  font-weight: 700;
  height: 50px;
  width: 150px;
  border-radius: 30px;
  font-size: 20px;
  cursor: pointer;
}

.to-event {
  color: #f5c645;
  text-decoration: none;
}

button a {
  text-decoration: none;
  color: black;
}

/*HERO SECTION STYLES*/
.hero-container {
  padding: 100px 0 100px 150px;
  background-color: black;
  display: flex;
  align-items: center;
}
.hero-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.hero-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.hero-text h1 {
  color: #f5c645;
  font-size: 50px;
}
.hero-text p {
  color: #f5c645;
  font-size: 20px;
}

.hero-images {
  flex: 2;
  padding: 0 0 0 150px;
}

.hero-images button {
  display: none;
}

.hero-images img {
  width: 700px;
  height: 500px;
}

/*PICK AN EVENT STYLES*/
.event-container {
  background-color: white;
  padding: 100px 0 100px 150px;
}

.event-wrapper {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

.event-top-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.event-top-wrapper-search {
  display: flex;
  align-items: center;
  gap: 10px;
}

.event-top-wrapper-search span {
  font-size: 40px;
  font-weight: 700;
}

.event-top-wrapper-search input {
  border: none;
  outline: none;
  padding: 10px;
  background-color: white;
  border-bottom: 1px solid #f5c645;
  font-size: 30px;
}

.event-top-wrapper-search input::placeholder {
  font-size: 30px;
  font-weight: 700;
}

.event-top-wrapper-cat {
  display: flex;
  align-items: center;
  gap: 20px;
}

.event-top-wrapper-cat span {
  font-size: 20px;
  font-weight: 600;
  position: relative;
  cursor: pointer;
}

.event-top-wrapper-cat span::after {
  content: "";
  position: absolute;
  display: block;
  height: 2px;
  width: 0;
  background-color: #f5c645;
  bottom: -1px;
  left: 0px;
  transition: all ease-in 250ms;
}

.event-top-wrapper-cat span:hover::after {
  width: 100%;
}

.event-sub-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 100px;
}

.event-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 2;
}

.event-text .events {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  max-width: 600px;
}

.event-text .events .event-img img {
  width: 280px;
  height: 150px;
  border-radius: 10px;
}

.event-text .events .event-img {
  position: relative;
  cursor: pointer;
}

.event-text .events .event-img p {
  background-color: black;
  width: 70px;
  position: absolute;
  bottom: 20px;
  left: 10px;
  color: white;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  border-radius: 5px;
  opacity: 0.5;
}

.selected {
  border-bottom: 2px solid #f5c645;
}

.event-form {
  flex: 1;
}

.event-form form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 550px;
}

.event-form form div label {
  font-weight: 600;
  font-size: 20px;
  color: black;
}

.pick-date-wrapper {
  width: 100%;
  background: #f5c645;
  border-radius: 10px;
}
.pick-date-wrapper header {
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
}
header .icons {
  display: flex;
  flex-direction: row;
}
header .icons span {
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}
.icons span:last-child {
  margin-right: -10px;
}
header .icons span:hover {
  background: #f2f2f2;
}
header .current-date {
  font-size: 1.45rem;
  font-weight: 500;
}
.calendar {
  padding: 10px;
}
.calendar ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
  padding: 0;
}
.calendar .days {
  margin-bottom: 20px;
}
.calendar li {
  color: #333;
  width: calc(100% / 7);
  font-size: 1.07rem;
}
.calendar .weeks li {
  font-weight: 500;
  cursor: default;
}
.calendar .days li {
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 30px;
}
.days li.inactive {
  color: #aaa;
}
.days li.active {
  color: #fff;
}
.days li::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.days li.active::before {
  background: black;
}
.days li:not(.active):hover::before {
  background: #f2f2f2;
}

.event-form form div input {
  height: 30px;
  border: 1px solid #f5c645;
  border-radius: 30px;
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  outline: none;
  color: #f5c645;
}

.event-form form button {
  background-color: black;
  border: 1px solid black;
  color: #f5c645;
  border-radius: 30px;
  height: 30px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  height: 40px;
}

/*BOTTOM SECTION STYLES*/
.bottom-container {
  background-color: black;
  display: flex;
  padding: 100px 0 100px 150px;
  align-items: center;
}

.bottom-wrapper {
  display: flex;
  gap: 200px;
  align-items: center;
}

.bottom-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.bottom-text h1 {
  font-size: 50px;
  color: #f5c645;
}

.bottom-text p {
  font-size: 20px;
  color: #f5c645;
}

.bottom-text span {
  font-size: 20px;
  color: #f5c645;
}

.bottom-form {
  flex: 2;
}

.bottom-form form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 550px;
}

form div {
  display: flex;
  flex-direction: column;
}

.bottom-form form div label {
  font-weight: 600;
  font-size: 20px;
  color: #f5c645;
}

.bottom-form form div input {
  height: 30px;
  border: 1px solid #f5c645;
  border-radius: 30px;
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  outline: none;
  color: #f5c645;
}

.bottom-form form div .textarea {
  height: 100px;
  border: 1px solid #f5c645;
  border-radius: 30px;
  padding: 10px;
  color: #f5c645;
  font-size: 20px;
  font-weight: 600;
  outline: none;
}

.bottom-form form button {
  background-color: #f5c645;
  border: 1px solid #f5c645;
  color: black;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  height: 40px;
}

.icons img {
  width: 25px;
  height: 25px;
  background-color: #f5c645;
  border-radius: 30px;
}

/*FOOTER SECTION STYLES*/
.footer-container {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.social-media-logos img {
  width: 25px;
  height: 25px;
  background-color: #f5c645;
  border-radius: 50%;
  border: 1px solid white;
}

.footer-text p {
  color: black;
  font-weight: 600;
}

@media (max-width: 712px) {
  /*NAV BAR STYLES*/
  .nav-container {
    padding: 0 10px;
  }

  .nav-img {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .nav-text h1 {
    display: none;
  }

  .join button:first-child {
    height: 35px;
    width: 75px;
    font-size: 12px;
  }

  .join button:last-child {
    height: 35px;
    width: 75px;
    font-size: 12px;
  }

  /*HERO SECTION STYLES*/
  .hero-container {
    padding: 40px 0;
  }

  .hero-wrapper {
    flex-direction: column;
    margin-left: 10px;
    width: 70%;
    align-items: flex-start;
    gap: 25px;
  }

  .hero-text h1 {
    font-size: 25px;
    text-align: left;
  }

  .hero-text p {
    font-size: 13px;
    text-align: left;
  }

  .hero-images {
    flex: 3;
    padding: 0;
    align-items: flex-start;
  }

  .hero-images button {
    display: block;
    border: 1px solid #f5c645;
    background-color: #f5c645;
    color: black;
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 10px;
  }

  .hero-images img {
    display: none;
  }

  /*EVENT SECTION STYLES*/
  .event-container {
    padding: 40px 0;
  }

  .event-wrapper {
    flex-direction: column;
    gap: 50px;
    align-items: left;
    justify-content: center;
  }

  .event-top-wrapper-search {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    padding-left: 10px;
  }

  .event-top-wrapper-search span {
    text-align: left;
    font-size: 40px;
    font-weight: 700;
  }

  .event-top-wrapper-cat {
    display: flex;
    align-items: center;
    gap: 10px;
    overflow: scroll;
    padding: 10px;
  }

  .event-top-wrapper-cat span {
    font-size: 13px;
    font-weight: 600;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
  }

  .event-top-wrapper-search input {
    border: none;
    outline: none;
    padding: 5px;
    border-bottom: 1px solid #f5c645;
    font-size: 15px;
  }

  .event-top-wrapper-search input::placeholder {
    font-size: 15px;
    font-weight: 700;
  }

  .event-sub-wrapper {
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
  }

  .event-form form {
    width: 275px;
  }

  header .current-date {
    font-size: 15px;
  }

  .calendar li {
    color: #333;
    width: calc(100% / 7);
    font-size: 13px;
  }

  .event-text {
    width: 275px;
  }

  .event-text h1 {
    font-size: 25px;
    text-align: center;
  }

  .event-text .events {
    display: flex;
    gap: 10px;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 200px;
  }

  .event-text .events .event-img img {
    width: 140px;
    height: 75px;
  }

  .event-text .events .event-img p {
    background-color: black;
    width: 70px;
    position: absolute;
    bottom: 10px;
    left: 5px;
    color: white;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    font-size: 13px;
    border-radius: 5px;
    opacity: 0.5;
  }

  .event-form form div label {
    font-size: 15px;
    line-height: 40px;
  }

  .event-form form div input {
    height: 1px;
    width: 93%;
    font-size: 13px;
  }

  .event-form form button {
    font-size: 15px;
  }

  /*BOTTOM SECTION STYLES*/
  .bottom-container {
    padding: 40px 0;
    display: flex;
    justify-content: center;
  }

  .bottom-wrapper {
    flex-direction: column;
    gap: 50px;
    width: 50%;
  }

  .bottom-text h1 {
    font-size: 25px;
  }

  .bottom-text p {
    font-size: 13px;
  }

  .bottom-text span {
    font-size: 13px;
  }

  .bottom-form form {
    width: 275px;
  }

  .bottom-form form div label {
    font-size: 15px;
    line-height: 40px;
  }

  .bottom-form form div input {
    height: 15px;
    font-size: 13px;
  }

  .bottom-form form div .textarea {
    height: 50px;
  }

  .bottom-form form button {
    font-size: 15px;
  }
}
